/*Accordion styles for calendar*/
.calendar-accordion, .calendar-accordion:focus, .calendar-accordion:not(.collapsed) {

	background-color: #94d7d2;
	color: #1a2d3b;
}

.calendar-accordion::after {
    flex-shrink: 0;
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 0.1em;
    margin-left: auto;
    text-align: center;
    content: "";
    background-image: url(images/accordionbutton.svg);
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}

.calendar-accordion:not(.collapsed)::after {
    background-image: url(images/accordionbutton.svg);
    transform: rotate(180deg);
}

img {
    max-width: 100%;
  }