/*Accordion styles for calendar*/
.calendar-accordion, .calendar-accordion:focus, .calendar-accordion:not(.collapsed) {

	background-color: #94d7d2;
	color: #1a2d3b;
}

.calendar-accordion::after {
    flex-shrink: 0;
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 0.1em;
    margin-left: auto;
    text-align: center;
    content: "";
    background-image: url(images/accordionbutton.svg);
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}

.calendar-accordion:not(.collapsed)::after {
    background-image: url(images/accordionbutton.svg);
    transform: rotate(180deg);
}

img {
    width: 1em;
    height: 1em;
    margin: 0.5em;
}

.calendar-nav {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.navbar {
    flex: 0 0 auto;
    background-color: #1a2b3d;
    color: #fff;
    height: 4rem;
    font-size: 0.9em;
    padding: 0.7em 1.2em;
  }

  .navbar-options img{
    width: 1.5em;
    height: 1.5em;
  }