.course-selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropdown-toggle {
  background-color: #1a2b3d;
}

.next-button {
  margin: 2rem;
  background-color: #94d7d2;
  color: #1a2b3d;
}

.navbar {

    flex: 0 0 auto;
    background-color: #1a2b3d;
    color: #fff;
    height: 4rem;
    font-size: 0.9em;
    padding: 0.7em 1.2em;
    align-items: center;
  }

.navbar-options img{
    width: 1.5em;
    height: 1.5em;
    margin: 0em;
}

.navbar-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-container img {
  max-width:100%;
}